<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Panel</title>
    <meta name="description" content="Admin Panel">

    <link rel="shortcut icon" href="/admin/favicon.png" type="image/png">

    <link rel="stylesheet" href="/admin/css/libs/icomoon.css">
    <link rel="stylesheet" href="/admin/css/main.css">

    <script defer src="/admin/js/functions.js"></script>
    <script defer src="/admin/js/view.js"></script>
    <script defer src="/admin/js/main.js"></script>
</head>