<header class="header">
    <div class="header__inner">
        <a href="/admin" class="admin-logo header__logo"><i class="icon-settings"></i><span><span>Admin Panel</span><small class="admin-version">v.01</small></span></a>
        <button class="admin-burger header__burger"><span></span></button>
    </div>
</header>