<%- await include('../partials/header.ejs') %>
<%- await include('../partials/sidebar.ejs') %>

<main class="admin">
    <div class="admin__inner">
        <div class="admin-card">
            <div class="admin-card__inner">
                <div class="admin-card__head">
                    <h2>Dashboard</h2>
                </div>
                <div class="admin-card__body">
                    <p>👋 Welcome to Admin Panel v.01</p>
                </div>
            </div>
        </div>
    </div>
</main>