<main class="auth">
    <div class="auth__inner">
        <a href="/admin" class="admin-logo auth__logo"><i class="icon-settings"></i><span><span>Admin Panel</span><small class="admin-version">v.01</small></span></a>
        <h1 class="auth__title">Register</h1>
        <form onsubmit="adminRegister(event, this)" class="auth-form">
            <label class="form-row">
                <div class="form-column">
                    <span class="auth-form__caption">Password:</span>
                    <input required type="password" name="password">
                </div>
            </label>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</main>