<div class="preloader _active">
    <div class="preloader__inner">
        <div class="preloader__title"></div>
        <div class="preloader__progress">
            <span class="preloader__progress-bar"></span>
        </div>
    </div>
</div>