<section class="error">
    <div class="container">
        <div class="error__inner">
            <div class="error__content">
                <h1 class="error__code">404</h1>
                <p class="error__message">It seems like this page does not exist.</p>
                <a href="/" class="btn error__btn">Home Page</a>
            </div>
        </div>
    </div>
</section>