<section class="home">
    <div class="container">
        <div class="home__inner">
            <div class="home__body">
                <div class="home__image">
                    <picture>
                        <source srcset="img/home/image.webp 1600w,img/home/image-768.webp 768w">
                        <source srcset="img/home/image.png">
                        <img src="img/home/image.png" alt="Koriun Akopian" width="318" height="472">
                    </picture>
                </div>
                <div class="home__content">
                    <h1 hidden>Koriun Akopian Node.js Software Engineer</h1>
                    <div class="home__content-subtitle">Hi! My name is</div>
                    <div class="home__content-name">
                        <svg class="size_ds" width="200" viewBox="0 0 154 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M141 4H154V22H141V4Z" class="path_hover" />
                            <path d="M148.825 8.75989C150.145 8.75989 151.211 9.17989 152.025 10.0199C152.838 10.8466 153.245 12.0066 153.245 13.4999V19.9999H150.445V13.8799C150.445 12.9999 150.225 12.3266 149.785 11.8599C149.345 11.3799 148.745 11.1399 147.985 11.1399C147.211 11.1399 146.598 11.3799 146.145 11.8599C145.705 12.3266 145.485 12.9999 145.485 13.8799V19.9999H142.685V8.91989H145.485V10.2999C145.858 9.81989 146.331 9.44655 146.905 9.17989C147.491 8.89989 148.131 8.75989 148.825 8.75989Z" fill="url(#paint0_linear_1_2)" />
                            <path d="M128 4H141V22H128V4Z" class="path_hover" />
                            <path d="M128.41 14.42C128.41 13.3 128.63 12.3067 129.07 11.44C129.523 10.5733 130.13 9.90666 130.89 9.43999C131.663 8.97332 132.523 8.73999 133.47 8.73999C134.297 8.73999 135.017 8.90666 135.63 9.23999C136.257 9.57332 136.757 9.99332 137.13 10.5V8.91999H139.95V20H137.13V18.38C136.77 18.9 136.27 19.3333 135.63 19.68C135.003 20.0133 134.277 20.18 133.45 20.18C132.517 20.18 131.663 19.94 130.89 19.46C130.13 18.98 129.523 18.3067 129.07 17.44C128.63 16.56 128.41 15.5533 128.41 14.42ZM137.13 14.46C137.13 13.78 136.997 13.2 136.73 12.72C136.463 12.2267 136.103 11.8533 135.65 11.6C135.197 11.3333 134.71 11.2 134.19 11.2C133.67 11.2 133.19 11.3267 132.75 11.58C132.31 11.8333 131.95 12.2067 131.67 12.7C131.403 13.18 131.27 13.7533 131.27 14.42C131.27 15.0867 131.403 15.6733 131.67 16.18C131.95 16.6733 132.31 17.0533 132.75 17.32C133.203 17.5867 133.683 17.72 134.19 17.72C134.71 17.72 135.197 17.5933 135.65 17.34C136.103 17.0733 136.463 16.7 136.73 16.22C136.997 15.7267 137.13 15.14 137.13 14.46Z" fill="url(#paint1_linear_1_2)" />
                            <path d="M122 4H128V22H122V4Z" class="path_hover" />
                            <path d="M124.984 7.59995C124.49 7.59995 124.077 7.44661 123.744 7.13995C123.424 6.81995 123.264 6.42661 123.264 5.95995C123.264 5.49328 123.424 5.10661 123.744 4.79995C124.077 4.47995 124.49 4.31995 124.984 4.31995C125.477 4.31995 125.884 4.47995 126.204 4.79995C126.537 5.10661 126.704 5.49328 126.704 5.95995C126.704 6.42661 126.537 6.81995 126.204 7.13995C125.884 7.44661 125.477 7.59995 124.984 7.59995ZM126.364 8.91995V19.9999H123.564V8.91995H126.364Z" fill="url(#paint2_linear_1_2)" />
                            <path d="M109 4H122V26H109V4Z" class="path_hover" />
                            <path d="M112.809 10.52C113.169 10.0133 113.662 9.59332 114.289 9.25999C114.929 8.91332 115.656 8.73999 116.469 8.73999C117.416 8.73999 118.269 8.97332 119.029 9.43999C119.802 9.90666 120.409 10.5733 120.849 11.44C121.302 12.2933 121.529 13.2867 121.529 14.42C121.529 15.5533 121.302 16.56 120.849 17.44C120.409 18.3067 119.802 18.98 119.029 19.46C118.269 19.94 117.416 20.18 116.469 20.18C115.656 20.18 114.936 20.0133 114.309 19.68C113.696 19.3467 113.196 18.9267 112.809 18.42V25.28H110.009V8.91999H112.809V10.52ZM118.669 14.42C118.669 13.7533 118.529 13.18 118.249 12.7C117.982 12.2067 117.622 11.8333 117.169 11.58C116.729 11.3267 116.249 11.2 115.729 11.2C115.222 11.2 114.742 11.3333 114.289 11.6C113.849 11.8533 113.489 12.2267 113.209 12.72C112.942 13.2133 112.809 13.7933 112.809 14.46C112.809 15.1267 112.942 15.7067 113.209 16.2C113.489 16.6933 113.849 17.0733 114.289 17.34C114.742 17.5933 115.222 17.72 115.729 17.72C116.249 17.72 116.729 17.5867 117.169 17.32C117.622 17.0533 117.982 16.6733 118.249 16.18C118.529 15.6867 118.669 15.1 118.669 14.42Z" fill="url(#paint3_linear_1_2)" />
                            <path d="M96 0H109V22H96V0Z" class="path_hover" />
                            <path d="M102.175 20.18C101.108 20.18 100.148 19.9467 99.295 19.48C98.4417 19 97.7684 18.3267 97.275 17.46C96.795 16.5933 96.5551 15.5933 96.5551 14.46C96.5551 13.3267 96.8017 12.3267 97.2951 11.46C97.8017 10.5933 98.4884 9.92666 99.355 9.45999C100.222 8.97999 101.188 8.73999 102.255 8.73999C103.322 8.73999 104.288 8.97999 105.155 9.45999C106.022 9.92666 106.702 10.5933 107.195 11.46C107.702 12.3267 107.955 13.3267 107.955 14.46C107.955 15.5933 107.695 16.5933 107.175 17.46C106.668 18.3267 105.975 19 105.095 19.48C104.228 19.9467 103.255 20.18 102.175 20.18ZM102.175 17.74C102.682 17.74 103.155 17.62 103.595 17.38C104.048 17.1267 104.408 16.7533 104.675 16.26C104.942 15.7667 105.075 15.1667 105.075 14.46C105.075 13.4067 104.795 12.6 104.235 12.04C103.688 11.4667 103.015 11.18 102.215 11.18C101.415 11.18 100.742 11.4667 100.195 12.04C99.662 12.6 99.395 13.4067 99.395 14.46C99.395 15.5133 99.655 16.3267 100.175 16.9C100.708 17.46 101.375 17.74 102.175 17.74Z" fill="url(#paint4_linear_1_2)" />
                            <path d="M84 4H96V22H84V4Z" class="path_hover" />
                            <path d="M92.1353 20L88.3753 15.28V20H85.5753V5.19995H88.3753V13.62L92.0953 8.91995H95.7353L90.8553 14.4799L95.7753 20H92.1353Z" fill="url(#paint5_linear_1_2)" />
                            <path d="M70 4H84V22H70V4Z" class="path_hover" />
                            <path d="M79.8189 17.3399H74.2589L73.3389 19.9999H70.3989L75.4189 6.0199H78.6789L83.6989 19.9999H80.7389L79.8189 17.3399ZM79.0589 15.0999L77.0389 9.2599L75.0189 15.0999H79.0589Z" fill="url(#paint6_linear_1_2)" />
                            <path d="M52 4H65V22H52V4Z" class="path_hover" />
                            <path d="M59.4106 8.75989C60.7306 8.75989 61.7973 9.17989 62.6106 10.0199C63.424 10.8466 63.8306 12.0066 63.8306 13.4999V19.9999H61.0306V13.8799C61.0306 12.9999 60.8106 12.3266 60.3706 11.8599C59.9306 11.3799 59.3306 11.1399 58.5706 11.1399C57.7973 11.1399 57.184 11.3799 56.7306 11.8599C56.2906 12.3266 56.0706 12.9999 56.0706 13.8799V19.9999H53.2706V8.91989H56.0706V10.2999C56.444 9.81989 56.9173 9.44655 57.4906 9.17989C58.0773 8.89989 58.7173 8.75989 59.4106 8.75989Z" fill="url(#paint7_linear_1_2)" />
                            <path d="M39 4H52V22H39V4Z" class="path_hover" />
                            <path d="M50.508 8.91992V19.9999H47.688V18.5999C47.328 19.0799 46.8547 19.4599 46.268 19.7399C45.6947 20.0066 45.068 20.1399 44.388 20.1399C43.5213 20.1399 42.7547 19.9599 42.088 19.5999C41.4213 19.2266 40.8947 18.6866 40.508 17.9799C40.1347 17.2599 39.948 16.4066 39.948 15.4199V8.91992H42.748V15.0199C42.748 15.8999 42.968 16.5799 43.408 17.0599C43.848 17.5266 44.448 17.7599 45.208 17.7599C45.9813 17.7599 46.588 17.5266 47.028 17.0599C47.468 16.5799 47.688 15.8999 47.688 15.0199V8.91992H50.508Z" fill="url(#paint8_linear_1_2)" />
                            <path d="M33 4H39V22H33V4Z" class="path_hover" />
                            <path d="M35.9015 7.59995C35.4082 7.59995 34.9949 7.44661 34.6615 7.13995C34.3415 6.81995 34.1815 6.42661 34.1815 5.95995C34.1815 5.49328 34.3415 5.10661 34.6615 4.79995C34.9949 4.47995 35.4082 4.31995 35.9015 4.31995C36.3948 4.31995 36.8015 4.47995 37.1215 4.79995C37.4549 5.10661 37.6215 5.49328 37.6215 5.95995C37.6215 6.42661 37.4549 6.81995 37.1215 7.13995C36.8015 7.44661 36.3948 7.59995 35.9015 7.59995ZM37.2815 8.91995V19.9999H34.4815V8.91995H37.2815Z" fill="url(#paint9_linear_1_2)" />
                            <path d="M25 4H33V22H25V4Z" class="path_hover" />
                            <path d="M29.1956 10.6399C29.5556 10.0532 30.0223 9.59322 30.5956 9.25989C31.1823 8.92655 31.849 8.75989 32.5956 8.75989V11.6999H31.8556C30.9756 11.6999 30.309 11.9066 29.8556 12.3199C29.4156 12.7332 29.1956 13.4532 29.1956 14.4799V19.9999H26.3956V8.91989H29.1956V10.6399Z" fill="url(#paint10_linear_1_2)" />
                            <path d="M12 4H25V22H12V4Z" class="path_hover" />
                            <path d="M18.5618 20.18C17.4951 20.18 16.5351 19.9467 15.6818 19.48C14.8284 19 14.1551 18.3267 13.6618 17.46C13.1818 16.5933 12.9418 15.5933 12.9418 14.46C12.9418 13.3267 13.1884 12.3267 13.6818 11.46C14.1884 10.5933 14.8751 9.92666 15.7418 9.45999C16.6084 8.97999 17.5751 8.73999 18.6418 8.73999C19.7084 8.73999 20.6751 8.97999 21.5418 9.45999C22.4084 9.92666 23.0884 10.5933 23.5818 11.46C24.0884 12.3267 24.3418 13.3267 24.3418 14.46C24.3418 15.5933 24.0818 16.5933 23.5618 17.46C23.0551 18.3267 22.3618 19 21.4818 19.48C20.6151 19.9467 19.6418 20.18 18.5618 20.18ZM18.5618 17.74C19.0684 17.74 19.5418 17.62 19.9818 17.38C20.4351 17.1267 20.7951 16.7533 21.0618 16.26C21.3284 15.7667 21.4618 15.1667 21.4618 14.46C21.4618 13.4067 21.1818 12.6 20.6218 12.04C20.0751 11.4667 19.4018 11.18 18.6018 11.18C17.8018 11.18 17.1284 11.4667 16.5818 12.04C16.0484 12.6 15.7818 13.4067 15.7818 14.46C15.7818 15.5133 16.0418 16.3267 16.5618 16.9C17.0951 17.46 17.7618 17.74 18.5618 17.74Z" fill="url(#paint11_linear_1_2)" />
                            <path d="M0 4H12V22H0V4Z" class="path_hover" />
                            <path d="M8.26001 19.9999L3.18001 13.7799V19.9999H0.380005V6.03992H3.18001V12.2999L8.26001 6.03992H11.64L5.88 12.9599L11.8 19.9999H8.26001Z" fill="url(#paint12_linear_1_2)" />
                            <defs>
                                <linearGradient id="paint0_linear_1_2" x1="-2110.01" y1="10.5626" x2="179.764" y2="10.563" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint1_linear_1_2" x1="-1739.18" y1="10.4266" x2="356.144" y2="10.4269" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint2_linear_1_2" x1="-5600.08" y1="15.5" x2="1428.98" y2="15.5054" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint3_linear_1_2" x1="-1494.61" y1="7.21166" x2="604.349" y2="7.21217" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint4_linear_1_2" x1="-1327.41" y1="10.4266" x2="793.647" y2="10.4269" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint5_linear_1_2" x1="-1316.6" y1="14.7568" x2="1053.98" y2="14.7574" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint6_linear_1_2" x1="-833.093" y1="13.9802" x2="984.952" y2="13.9805" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint7_linear_1_2" x1="-797.586" y1="10.5626" x2="1492.19" y2="10.563" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint8_linear_1_2" x1="-602.036" y1="10.182" x2="1687.74" y2="10.1824" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint9_linear_1_2" x1="-1586.21" y1="15.5" x2="5442.86" y2="15.5054" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint10_linear_1_2" x1="-685.891" y1="10.5626" x2="3214.11" y2="10.5638" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint11_linear_1_2" x1="-190.559" y1="10.4266" x2="1930.49" y2="10.427" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint12_linear_1_2" x1="-0.999996" y1="13" x2="155" y2="13" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                            </defs>
                        </svg>
                        <svg class="size_mb" width="100" viewBox="0 0 84 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M71 24H84V42H71V24Z" class="path_hover" />
                            <path d="M78.825 28.7599C80.145 28.7599 81.211 29.1799 82.025 30.0199C82.838 30.8466 83.245 32.0066 83.245 33.4999V39.9999H80.445V33.8799C80.445 32.9999 80.225 32.3266 79.785 31.8599C79.345 31.3799 78.745 31.1399 77.985 31.1399C77.211 31.1399 76.598 31.3799 76.145 31.8599C75.705 32.3266 75.485 32.9999 75.485 33.8799V39.9999H72.685V28.9199H75.485V30.2999C75.858 29.8199 76.331 29.4465 76.905 29.1799C77.491 28.8999 78.131 28.7599 78.825 28.7599Z" fill="url(#paint0_linear_1_43)" />
                            <path d="M58 24H71V42H58V24Z" class="path_hover" />
                            <path d="M58.41 34.42C58.41 33.3 58.63 32.3067 59.07 31.44C59.523 30.5733 60.13 29.9067 60.89 29.44C61.663 28.9733 62.523 28.74 63.47 28.74C64.297 28.74 65.017 28.9067 65.63 29.24C66.257 29.5733 66.757 29.9933 67.13 30.5V28.92H69.95V40H67.13V38.38C66.77 38.9 66.27 39.3333 65.63 39.68C65.003 40.0133 64.277 40.18 63.45 40.18C62.517 40.18 61.663 39.94 60.89 39.46C60.13 38.98 59.523 38.3067 59.07 37.44C58.63 36.56 58.41 35.5533 58.41 34.42ZM67.13 34.46C67.13 33.78 66.997 33.2 66.73 32.72C66.463 32.2267 66.103 31.8533 65.65 31.6C65.197 31.3333 64.71 31.2 64.19 31.2C63.67 31.2 63.19 31.3267 62.75 31.58C62.31 31.8333 61.95 32.2067 61.67 32.7C61.403 33.18 61.27 33.7533 61.27 34.42C61.27 35.0867 61.403 35.6733 61.67 36.18C61.95 36.6733 62.31 37.0533 62.75 37.32C63.203 37.5867 63.683 37.72 64.19 37.72C64.71 37.72 65.197 37.5933 65.65 37.34C66.103 37.0733 66.463 36.7 66.73 36.22C66.997 35.7267 67.13 35.14 67.13 34.46Z" fill="url(#paint1_linear_1_43)" />
                            <path d="M52 24H58V42H52V24Z" class="path_hover" />
                            <path d="M54.984 27.5999C54.49 27.5999 54.077 27.4466 53.744 27.1399C53.424 26.8199 53.264 26.4266 53.264 25.9599C53.264 25.4933 53.424 25.1066 53.744 24.7999C54.077 24.4799 54.49 24.3199 54.984 24.3199C55.477 24.3199 55.884 24.4799 56.204 24.7999C56.537 25.1066 56.704 25.4933 56.704 25.9599C56.704 26.4266 56.537 26.8199 56.204 27.1399C55.884 27.4466 55.477 27.5999 54.984 27.5999ZM56.364 28.9199V39.9999H53.564V28.9199H56.364Z" fill="url(#paint2_linear_1_43)" />
                            <path d="M39 24H52V46H39V24Z" class="path_hover" />
                            <path d="M42.809 30.52C43.169 30.0133 43.662 29.5933 44.289 29.26C44.929 28.9133 45.656 28.74 46.469 28.74C47.416 28.74 48.269 28.9733 49.029 29.44C49.802 29.9067 50.409 30.5733 50.849 31.44C51.302 32.2933 51.529 33.2867 51.529 34.42C51.529 35.5533 51.302 36.56 50.849 37.44C50.409 38.3067 49.802 38.98 49.029 39.46C48.269 39.94 47.416 40.18 46.469 40.18C45.656 40.18 44.936 40.0133 44.309 39.68C43.696 39.3467 43.196 38.9267 42.809 38.42V45.28H40.009V28.92H42.809V30.52ZM48.669 34.42C48.669 33.7533 48.529 33.18 48.249 32.7C47.982 32.2067 47.622 31.8333 47.169 31.58C46.729 31.3267 46.249 31.2 45.729 31.2C45.222 31.2 44.742 31.3333 44.289 31.6C43.849 31.8533 43.489 32.2267 43.209 32.72C42.942 33.2133 42.809 33.7933 42.809 34.46C42.809 35.1267 42.942 35.7067 43.209 36.2C43.489 36.6933 43.849 37.0733 44.289 37.34C44.742 37.5933 45.222 37.72 45.729 37.72C46.249 37.72 46.729 37.5867 47.169 37.32C47.622 37.0533 47.982 36.6733 48.249 36.18C48.529 35.6867 48.669 35.1 48.669 34.42Z" fill="url(#paint3_linear_1_43)" />
                            <path d="M26 24H39V42H26V24Z" class="path_hover" />
                            <path d="M32.175 40.18C31.108 40.18 30.148 39.9467 29.295 39.48C28.4417 39 27.7684 38.3267 27.275 37.46C26.795 36.5933 26.5551 35.5933 26.5551 34.46C26.5551 33.3267 26.8017 32.3267 27.2951 31.46C27.8017 30.5933 28.4884 29.9267 29.355 29.46C30.222 28.98 31.188 28.74 32.255 28.74C33.322 28.74 34.288 28.98 35.155 29.46C36.022 29.9267 36.702 30.5933 37.195 31.46C37.702 32.3267 37.955 33.3267 37.955 34.46C37.955 35.5933 37.695 36.5933 37.175 37.46C36.668 38.3267 35.975 39 35.095 39.48C34.228 39.9467 33.255 40.18 32.175 40.18ZM32.175 37.74C32.682 37.74 33.155 37.62 33.595 37.38C34.048 37.1267 34.408 36.7533 34.675 36.26C34.942 35.7667 35.075 35.1667 35.075 34.46C35.075 33.4067 34.795 32.6 34.235 32.04C33.688 31.4667 33.015 31.18 32.215 31.18C31.415 31.18 30.742 31.4667 30.195 32.04C29.662 32.6 29.395 33.4067 29.395 34.46C29.395 35.5133 29.655 36.3267 30.175 36.9C30.708 37.46 31.375 37.74 32.175 37.74Z" fill="url(#paint4_linear_1_43)" />
                            <path d="M14 24H26V42H14V24Z" class="path_hover" />
                            <path d="M22.1353 40L18.3753 35.28V40H15.5753V25.2H18.3753V33.62L22.0953 28.92H25.7353L20.8553 34.4799L25.7753 40H22.1353Z" fill="url(#paint5_linear_1_43)" />
                            <path d="M0 24H14V42H0V24Z" class="path_hover" />
                            <path d="M9.81889 37.3399H4.2589L3.33889 39.9999H0.398895L5.41889 26.0199H8.67889L13.6989 39.9999H10.7389L9.81889 37.3399ZM9.05889 35.0999L7.03889 29.2599L5.01889 35.0999H9.05889Z" fill="url(#paint6_linear_1_43)" />
                            <path d="M62 4H75V22H62V4Z" class="path_hover" />
                            <path d="M69.4106 8.75989C70.7306 8.75989 71.7973 9.17989 72.6106 10.0199C73.424 10.8466 73.8306 12.0066 73.8306 13.4999V19.9999H71.0306V13.8799C71.0306 12.9999 70.8106 12.3266 70.3706 11.8599C69.9306 11.3799 69.3306 11.1399 68.5706 11.1399C67.7973 11.1399 67.184 11.3799 66.7306 11.8599C66.2906 12.3266 66.0706 12.9999 66.0706 13.8799V19.9999H63.2706V8.91989H66.0706V10.2999C66.444 9.81989 66.9173 9.44655 67.4906 9.17989C68.0773 8.89989 68.7173 8.75989 69.4106 8.75989Z" fill="url(#paint7_linear_1_43)" />
                            <path d="M49 4H62V22H49V4Z" class="path_hover" />
                            <path d="M60.508 8.91992V19.9999H57.688V18.5999C57.328 19.0799 56.8547 19.4599 56.268 19.7399C55.6947 20.0066 55.068 20.1399 54.388 20.1399C53.5213 20.1399 52.7547 19.9599 52.088 19.5999C51.4213 19.2266 50.8947 18.6866 50.508 17.9799C50.1347 17.2599 49.948 16.4066 49.948 15.4199V8.91992H52.748V15.0199C52.748 15.8999 52.968 16.5799 53.408 17.0599C53.848 17.5266 54.448 17.7599 55.208 17.7599C55.9813 17.7599 56.588 17.5266 57.028 17.0599C57.468 16.5799 57.688 15.8999 57.688 15.0199V8.91992H60.508Z" fill="url(#paint8_linear_1_43)" />
                            <path d="M43 4H49V22H43V4Z" class="path_hover" />
                            <path d="M45.9015 7.59995C45.4082 7.59995 44.9949 7.44661 44.6615 7.13995C44.3415 6.81995 44.1815 6.42661 44.1815 5.95995C44.1815 5.49328 44.3415 5.10661 44.6615 4.79995C44.9949 4.47995 45.4082 4.31995 45.9015 4.31995C46.3948 4.31995 46.8015 4.47995 47.1215 4.79995C47.4549 5.10661 47.6215 5.49328 47.6215 5.95995C47.6215 6.42661 47.4549 6.81995 47.1215 7.13995C46.8015 7.44661 46.3948 7.59995 45.9015 7.59995ZM47.2815 8.91995V19.9999H44.4815V8.91995H47.2815Z" fill="url(#paint9_linear_1_43)" />
                            <path d="M35 4H43V22H35V4Z" class="path_hover" />
                            <path d="M39.1956 10.6399C39.5556 10.0532 40.0223 9.59322 40.5956 9.25989C41.1823 8.92655 41.849 8.75989 42.5956 8.75989V11.6999H41.8556C40.9756 11.6999 40.309 11.9066 39.8556 12.3199C39.4156 12.7332 39.1956 13.4532 39.1956 14.4799V19.9999H36.3956V8.91989H39.1956V10.6399Z" fill="url(#paint10_linear_1_43)" />
                            <path d="M22 4H35V22H22V4Z" class="path_hover" />
                            <path d="M28.5618 20.18C27.4951 20.18 26.5351 19.9467 25.6818 19.48C24.8284 19 24.1551 18.3267 23.6618 17.46C23.1818 16.5933 22.9418 15.5933 22.9418 14.46C22.9418 13.3267 23.1884 12.3267 23.6818 11.46C24.1884 10.5933 24.8751 9.92666 25.7418 9.45999C26.6084 8.97999 27.5751 8.73999 28.6418 8.73999C29.7084 8.73999 30.6751 8.97999 31.5418 9.45999C32.4084 9.92666 33.0884 10.5933 33.5818 11.46C34.0884 12.3267 34.3418 13.3267 34.3418 14.46C34.3418 15.5933 34.0818 16.5933 33.5618 17.46C33.0551 18.3267 32.3618 19 31.4818 19.48C30.6151 19.9467 29.6418 20.18 28.5618 20.18ZM28.5618 17.74C29.0684 17.74 29.5418 17.62 29.9818 17.38C30.4351 17.1267 30.7951 16.7533 31.0618 16.26C31.3284 15.7667 31.4618 15.1667 31.4618 14.46C31.4618 13.4067 31.1818 12.6 30.6218 12.04C30.0751 11.4667 29.4018 11.18 28.6018 11.18C27.8018 11.18 27.1284 11.4667 26.5818 12.04C26.0484 12.6 25.7818 13.4067 25.7818 14.46C25.7818 15.5133 26.0418 16.3267 26.5618 16.9C27.0951 17.46 27.7618 17.74 28.5618 17.74Z" fill="url(#paint11_linear_1_43)" />
                            <path d="M9 4H22V22H9V4Z" class="path_hover" />
                            <path d="M18.26 19.9999L13.18 13.7799V19.9999H10.38V6.03992H13.18V12.2999L18.26 6.03992H21.64L15.88 12.9599L21.8 19.9999H18.26Z" fill="url(#paint12_linear_1_43)" />
                            <defs>
                                <linearGradient id="paint0_linear_1_43" x1="-2180.01" y1="30.5626" x2="109.764" y2="30.563" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint1_linear_1_43" x1="-1809.18" y1="30.4266" x2="286.144" y2="30.4269" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint2_linear_1_43" x1="-5670.08" y1="35.5" x2="1358.98" y2="35.5054" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint3_linear_1_43" x1="-1564.61" y1="27.2117" x2="534.349" y2="27.2122" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint4_linear_1_43" x1="-1397.41" y1="30.4266" x2="723.647" y2="30.4269" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint5_linear_1_43" x1="-1386.6" y1="34.7568" x2="983.98" y2="34.7574" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint6_linear_1_43" x1="-903.093" y1="33.9802" x2="914.952" y2="33.9805" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint7_linear_1_43" x1="-787.586" y1="10.5626" x2="1502.19" y2="10.563" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint8_linear_1_43" x1="-592.036" y1="10.182" x2="1697.74" y2="10.1824" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint9_linear_1_43" x1="-1576.21" y1="15.5" x2="5452.86" y2="15.5054" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint10_linear_1_43" x1="-675.891" y1="10.5626" x2="3224.11" y2="10.5638" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint11_linear_1_43" x1="-180.559" y1="10.4266" x2="1940.49" y2="10.427" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                                <linearGradient id="paint12_linear_1_43" x1="9" y1="13" x2="165" y2="13" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#9845E8" />
                                    <stop offset="0.503125" stop-color="#33D2FF" />
                                    <stop offset="1" stop-color="#DD5789" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="home__content-text">Node.js Software Engineer</div>
                    <a href="/contact" title="Contact Me" class="btn home__content-btn">Contact Me</a>
                </div>
            </div>
            <div class="home__skills">
                <div class="home__skills-swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="img/skills/js.svg" alt="javascript logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/ts.svg" alt="typescript logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/node.svg" alt="nodejs logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/express.svg" alt="express logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/react.svg" alt="react logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/next.svg" alt="next logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/mysql.svg" alt="mysql logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/postgre.svg" alt="postgre logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/mongo.svg" alt="mongo logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/linux.svg" alt="linux logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/aws.svg" alt="aws logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/nginx.svg" alt="nginx logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/docker.svg" alt="docker logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/git.svg" alt="git logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/git-actions.svg" alt="github actions logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/php.svg" alt="php logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/wordpress.svg" alt="wordpress logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/html.svg" alt="html logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/css.svg" alt="css logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/tailwind.svg" alt="tailwind logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/scss.svg" alt="scss logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/gulp.svg" alt="gulp logo" loading="lazy" width="100" height="100"></div>
                        <div class="swiper-slide"><img src="img/skills/webpack.svg" alt="webpack logo" loading="lazy" width="100" height="100"></div>
                    </div>
                    <div class="swiper-button-prev" role="button" aria-label="Slide Prev">
                        <i class="icon-arrow"></i>
                        <i class="icon-arrow"></i>
                    </div>
                    <div class="swiper-button-next" role="button" aria-label="Slide Next">
                        <i class="icon-arrow"></i>
                        <i class="icon-arrow"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>